concurrencytest==0.1.2
coverage==4.5.4
filelock==3.0.12
packaging==23.2
pycryptodomex==3.19.1
pyelftools==0.27
pygit2==1.13.3
pyparsing==3.0.7
pytest==6.2.5
pytest-xdist==2.5.0
requests==2.31.0
setuptools==65.5.1
